.floating-icon {
    color: white !important;
    text-decoration: none;
    background: #e6e6e6;
    opacity: 0.75;
    border-radius: 5%;
    border: black 2px solid !important;
    height: 80px;
    width: 80px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 40px !important;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
}

.floating-icon:active {
    color: white !important;
    text-decoration: none;
    background: #bfbfbf;
    opacity: 1;
}

.floating-icon:hover {
    color: white !important;
    text-decoration: none;
    background-image: #bfbfbf;
    opacity: 1;
}
